@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Nav Section */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 16px;
  height: 40px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.nav__logo {
  color: #199cdb;
  font-size: 20px;
  font-weight: 500;
}

.nav__links {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: 300;
}

.nav__button {
  background-color: #199cdb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 900;
}

/* Header Section */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
}

.header__img {
  max-width: 100%;
}

.header__title {
  font-weight: 900;
  font-size: 36px;
}

.header__link--button {
  border: none;
  color: white;
  background-color: #199cdb;
  cursor: pointer;
  padding: 5px 8px;
  font-weight: 900;
}

/* Prodcut Section */

#products {
  background-color: #f4f4f4;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.product__title {
  font-size: 32px;
  margin-bottom: 13px;
  padding-top: 80px;
}

.product__para {
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5;
}

.product__icon__title {
  font-size: 25px;
  font-weight: 500;
}

.product__icon__para {
  font-size: 13px;
  line-height: 1.5;
}

.product__icon__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  padding: 32px;
  gap: 12px;
}

.product__card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 36px;
}

.card__icon {
  background-color: #199cdb;
  color: white;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-radius: 9999px;
}

/* Features Section */

#features {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.feature__describtion {
  text-align: center;
}

.features__title {
  font-size: 32px;
  margin-top: 50px;
  padding-bottom: 10px;
}

.features__para {
  max-width: 600px;
  margin: auto;
  font-size: 13px;
  line-height: 1.5;
}

.feature-image__wrapper {
  display: flex;
  margin-top: 50px;
  padding: 16px 50px;
  gap: 35px;
}

.feature-describtion__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 7px;
}

.feature__image {
  width: 50%;
}

.feature-image__titel {
  font-size: 20px;
}

.feature-image__para {
  max-width: 400px;
  font-size: 13px;
}

.feature-image__link {
  text-decoration: none;
  color: #199cdb;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 2px;
  transition: 175ms;
  border-bottom: 1px solid transparent;
}

.feature-image__link:hover {
  border-color: #199cdb;
}

/* Reviews Section */

#reviews {
  background-color: #f6f6f6;
}

.review__container {
}

.reviews__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.reviews__title {
  font-size: 32px;
  margin-top: 50px;
}

.reviews__parag {
  max-width: 600px;
  line-height: 1.5;
}

.reviews {
  display: flex;
  max-width: 700px;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 32px;
}

.reviews__text,
.reviews__credit {
  width: 50%;
}

.reviews__text {
  background-color: #199cdb;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  padding: 32px;
  display: flex;
  align-items: center;
}

.reviews__credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 4px;
}

.reviews__para {
  
}

.reviews__img {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
}

.reviews__rating {
  color: gold;
  font-size: 8px;
  padding-top: 4px;
}

.reviews__name {
  font-size: 14px;
  font-weight: 700;
  padding-top: 4px;
}

.reviews__occupation {
  font-size: 12px;
}
